<!-- <table class="table table-striped table-hover "> -->
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Lamp Description</th>
      <th>Version</th>
      <th>Device ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>CLEDA199L2/ST@</td>
      <td>GE Standalone</td>
      <td>0x0D</td>
    </tr>
    <tr>
      <td>2</td>
      <td>CLEDA199L2/G@</td>
      <td>Made for Google</td>
      <td>0x1B</td>
    </tr>
    <tr>
      <td>3</td>
      <td>CLEDA1911C2/G@</td>
      <td>Made for Google</td>
      <td>0x06</td>
    </tr>
    <tr>
      <td>4</td>
      <td>CLEDA1911C2/ST@</td>
      <td>Standard</td>
      <td>0x15</td>
    </tr>
  </tbody>
</table> 
