{% extends '_mybase.html' %}

{% block content%}
    {{ super() }}
    {% if current_user.is_authenticated %}
    Welcome, {{ current_user.username }} | 
    <a href="{{ url_for('auth.logout') }}">logout</a> | 
    <a href="{{ url_for('main.about') }}">about</a>
    {% else %}
    Welcome, please 
    <a href="{{ url_for('auth.login') }}">login</a>
    {% endif %}
    <hr>
    <form action="/query" method="post">
    <input type="text" name="mac" placeholder="ble mac address">
    <input type="submit" value="Query">
    </form>
    <br>
    {% if consumption %}
    <hr>
    <nohr>
    <span>energy consumption over <strong>last 24 hours</strong>  estimation :</span>
    <span class="text-success" > {{consumption}}</span>
    </nohr>
    {% endif %}
    <br>

{% endblock %}
