{% extends '_mybase.html' %}

{% block head %}

{{ super() }}

<!-- <script type="text/javascript" src="static/validate.js" ></script> -->
<script src="{{ url_for('static',filename='validate.js') }}" type="text/javascript" ></script>

{% endblock head %}

{% block content%}
    {{ super() }}
    {% if current_user.is_authenticated %}
    Welcome, {{ current_user.username }} | 
    <a href="{{ url_for('auth.logout') }}">logout</a> | 
    <a href="{{ url_for('main.about') }}">about</a>
    {% else %}
    Welcome, please 
    <a href="{{ url_for('auth.login') }}">login</a>
    {% endif %}
    <hr>
    <form action="/query" onsubmit="return validate_form(this)" method="post">
    <input type="text" name="mac" placeholder="ble mac address">
    <input type="submit" value="Query">
    </form>
    <br>
    format example: 12:34:56:78:90:ab
    <br>
    {% if consumption %}
    <hr>
    <nohr>
    <span>energy consumption over <strong>last 24 hours</strong>  estimation :</span>
    <span class="text-success" > {{consumption}}</span> J  
    (<span class="text-success">{{consumption_kwh}}</span> kwh)
    </nohr>
    {% endif %}
    {% if errmsg %}
    <span class="text-danger">{{errmsg}}</span>
    {% endif %}
    <br>

{% endblock %}
